.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: "white";
  padding: 20px, 8px, 20px, 8px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: "#F5FCFF";
  margin: 8;
  padding: 8;
}

.inputField {
  border-color: "#D9E3F0";
  border-width: 1;
  border-radius: 10;
  background-color: "white";
  padding: 8;
  margin: 30;
}

.button {
  border-color: transparent;
  margin: 16, 8, 16, 8;
  padding: 8;
}
.encrypted {
  font-size: 11;
  color: "#333333";
}

.welcome {
  font-size: 20;
  text-align: center;
  margin: 10;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
